<section class="service-code section">
  <div class="container-fluid h-100">
    <app-inner-header></app-inner-header>

    <div class="row height-row flex-nowrap align-items-center justify-content-center">
      <div class="col-lg-4">
        <div class="err-text">
          <h1>عذرا فقد حدث <br> <span>خطأ اثناء التحقق</span>!</h1>
          <p>اما ان صلاحية البريد المرسل قد انتهت او دخولك الى هذه الصفحة غير مصرح به.
          </p>
        </div>
      </div>

      <div class="col-lg-5">
        <figure class="err-image">
          <img src="assets/images/error.svg" alt="" class="img-fluid" />
        </figure>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</section>
