<app-header></app-header>
<section class="hero">
  <div class="d-flex hero-wrapper">
    <div class="container">
      <div class="hero-text mx-auto">
        <h1>إدارة المطاعم أصبحت
          <span>سهلة مع رتم!</span>
        </h1>
        <p>يمكِّنك رتم من إدارة مشروعك بالكامل وفي مكان واحد, فقط قم بإنشاء سحابتك الآن واستفد من كافة مزايا وتطبيقات رتم!
        </p>
        <a href="javascript: void(0);" class="btn btn-primary" (click)="changeStep()">إنشاء سحابة جديدة
          <i class="bi bi-arrow-left"></i>
        </a>
      </div>
    </div>
    <figure class="hero-img">
      <!-- <img src="assets/images/hero.svg" alt="" /> -->
    </figure>
  </div>
</section>
